{% extends "base.html" %}
{% load static %}

{% block title %}Хэрэглэгчийн самбар{% endblock %}

{% block content %}
<!-- ========================= АГУУЛГЫН ХЭСЭГ ========================= -->
<section class="section-conten padding-y bg">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <!--   ХАШИН / SIDEBAR   -->
        <ul class="list-group">
          <a class="list-group-item active" href="#">Миний захиалгын түүх</a>
          <a class="list-group-item" href="#">Гүйлгээ</a>
          <a class="list-group-item" href="#">Буцаалт, эргүүлэн төлбөр</a>
          <a class="list-group-item" href="#">Тохиргоо</a>
          <a class="list-group-item" href="#">Миний борлуулж буй бараа</a>
          <a class="list-group-item" href="#">Хүлээн авсан захиалгууд</a>
        </ul>
        <br>
        <a class="btn btn-light btn-block" href="#">
          <i class="fa fa-power-off"></i>
          <span class="text">Гарах</span>
        </a>
        <!--   ХАШИН ДУУСАВ   -->
      </aside>

      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Захиалгын дугаар: 6123456789</strong>
            <span>Захиалгын огноо: 2018 оны 12-р сарын 16</span>
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <h6 class="text-muted">Хүргэлтэнд</h6>
                <p>
                  Майкл Жексон <br>
                  Утас: +1234567890 Имэйл: myname@pixsellz.com <br>
                  Хаяг: Гэрийн дугаар, Барилгын нэр, Гудамж 123, Ташкент, Узбекистан <br>
                  Шуудангийн хайрцаг: 100123
                </p>
              </div>
              <div class="col-md-4">
                <h6 class="text-muted">Төлбөр</h6>
                <span class="text-success">
                  <i class="fab fa-lg fa-cc-visa"></i>
                  Visa **** 4216
                </span>
                <p>
                  Нийт дүн: $356 <br>
                  Тээвэрлэлтийн төлбөр: $56 <br>
                  <span class="b">Нийт: $456 </span>
                </p>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <td width="65">
                  <img src="{% static 'images/items/1.jpg' %}" class="img-xs border">
                </td>
                <td>
                  <p class="title mb-0">Бүтээгдэхүүний нэр</p>
                  <var class="price text-muted">USD 145</var>
                </td>
                <td>Борлуулагч <br> Nike хувцас</td>
                <td width="250">
                  <a href="#" class="btn btn-outline-primary">Захиалгыг хянах</a>
                  <a href="#" class="btn btn-light">Дэлгэрэнгүй</a>
                </td>
              </tr>
              <!-- бусад мөрүүдийг мөн адил орчуулна -->
            </table>
          </div>
        </article>
      </main>
    </div>
  </div>
</section>
<!-- ========================= АГУУЛГЫН ХЭСЭГ ДУУСАВ ========================= -->
{% endblock %}
