{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ КОМПОНЕНТ 2 ================================= -->
<div class="row">
	<main class="col-md-8">

		<article class="card mb-4">
			<div class="card-body">
				<h4 class="card-title mb-4">Сагсны тойм</h4>
				<div class="row">
					<div class="col-md-6">
						<figure class="itemside  mb-4">
							<div class="aside">
								<img src="{% static 'images/items/1.jpg' %}" class="border img-sm">
							</div>
							<figcaption class="info">
								<p>Apple iPad (2019) 32Gb Wi-Fi алтан өнгөтэй</p>
								<span class="text-muted">2ш = $560</span>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-6">
						<figure class="itemside  mb-4">
							<div class="aside">
								<img src="{% static 'images/items/2.jpg' %}" class="border img-sm">
							</div>
							<figcaption class="info">
								<p>Apple iPad (2019) 32Gb Wi-Fi алтан өнгөтэй</p>
								<span class="text-muted">2ш = $560</span>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-6">
						<figure class="itemside  mb-4">
							<div class="aside">
								<img src="{% static 'images/items/3.jpg' %}" class="border img-sm">
							</div>
							<figcaption class="info">
								<p>Apple iPad (2019) 32Gb Wi-Fi алтан өнгөтэй</p>
								<span class="text-muted">2ш = $560</span>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-6">
						<figure class="itemside  mb-4">
							<div class="aside">
								<img src="{% static 'images/items/4.jpg' %}" class="border img-sm">
							</div>
							<figcaption class="info">
								<p>Apple iPad (2019) 32Gb Wi-Fi алтан өнгөтэй</p>
								<span class="text-muted">2ш = $560</span>
							</figcaption>
						</figure>
					</div>
				</div> <!-- row.// -->
			</div> <!-- card-body.// -->
		</article> <!-- card.// -->

		<article class="card mb-4">
			<div class="card-body">
				<h4 class="card-title mb-4">Холбоо барих мэдээлэл</h4>
				<form>
					<div class="row">
						<div class="form-group col-sm-6">
							<label>Нэр</label>
							<input type="text" placeholder="Энд бичнэ үү" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<label>Овог</label>
							<input type="text" placeholder="Энд бичнэ үү" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<label>Утас</label>
							<input type="text" value="+998" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<label>И-мэйл</label>
							<input type="email" placeholder="example@gmail.com" class="form-control">
						</div>
					</div>
				</form>
			</div>
		</article>

		<article class="card mb-4">
			<div class="card-body">
				<h4 class="card-title mb-4">Хүргэлтийн мэдээлэл</h4>
				<form>
					<div class="row">
						<div class="form-group col-sm-6">
							<label>Улс*</label>
							<select class="form-control">
								<option>Энэтхэг</option>
								<option>АНУ</option>
								<option>Франц</option>
								<option>Итали</option>
							</select>
						</div>
						<div class="form-group col-sm-6">
							<label>Муж / Аймаг*</label>
							<input type="text" placeholder="Энд бичнэ үү" class="form-control">
						</div>
						<div class="form-group col-sm-8">
							<label>Гудамж*</label>
							<input type="text" placeholder="Энд бичнэ үү" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Барилга</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Байр</label>
							<input type="text" placeholder="Энд бичнэ үү" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Шуудангийн код</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Zip код</label>
							<input type="text" class="form-control">
						</div>
					</div>
				</form>
			</div>
		</article>

		<article class="accordion" id="accordion_pay">
			<div class="card">
				<header class="card-header">
					<img src="{% static 'images/misc/payment-paypal.png' %}" class="float-right" height="24">
					<label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
						<input class="form-check-input" name="payment-option" checked type="radio">
						<h6 class="form-check-label">PayPal</h6>
					</label>
				</header>
				<div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
					<div class="card-body">
						<p class="text-center text-muted">
							PayPal дансаа холбож төлбөр хийх боломжтой.
						</p>
						<p class="text-center">
							<a href="#"><img src="{% static 'images/misc/btn-paypal.png' %}" height="32"></a>
						</p>
					</div>
				</div>
			</div>
			<div class="card">
				<header class="card-header">
					<img src="{% static 'images/misc/payment-card.png' %}" class="float-right" height="24">
					<label class="form-check" data-toggle="collapse" data-target="#pay_payme">
						<input class="form-check-input" name="payment-option" type="radio">
						<h6 class="form-check-label">Кредит карт</h6>
					</label>
				</header>
				<div id="pay_payme" class="collapse" data-parent="#accordion_pay">
					<div class="card-body">
						<p class="alert alert-success">Зарим мэдээлэл эсвэл заавар</p>
						<form class="form-inline">
							<input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx">
							<input type="text" class="form-control mr-2" style="width: 100px" placeholder="сар/жил">
							<input type="number" class="form-control mr-2" style="width: 100px" placeholder="cvc">
							<button class="btn btn-success">Төлөх</button>
						</form>
					</div>
				</div>
			</div>
		</article>

	</main>
	<aside class="col-md-4">
		<div class="card">
			<div class="card-body">
				<dl class="dlist-align">
				  <dt>Нийт үнэ:</dt>
				  <dd class="text-right">$69.97</dd>
				</dl>
				<dl class="dlist-align">
				  <dt>Татвар:</dt>
				  <dd class="text-right">$10.00</dd>
				</dl>
				<dl class="dlist-align">
				  <dt>Төлөх дүн:</dt>
				  <dd class="text-right text-dark b"><strong>$59.97</strong></dd>
				</dl>
				<hr>
				<p class="text-center mb-3">
					<img src="{% static 'images/misc/payments.png' %}" height="26">
				</p>
				<a href="{% url 'place_order' %}" class="btn btn-primary btn-block">Захиалга хийх</a>
			</div>
		</div>
	</aside>
</div>
<!-- ============================ КОМПОНЕНТ 2 ТӨГСӨВ  ================================= -->

</div>
</section>
{% endblock %}
