{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- КОМПОНЕНТ 2 -->
    <div class="row">

      <!-- Үндсэн хэсэг -->
      <main class="col-md-8">
        <article class="card mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Сагсны тойм</h4>
            <div class="row">
              {% if cart_items %}
                {% for cart_item in cart_items %}
                <div class="col-md-6">
                  <figure class="itemside mb-4 d-flex align-items-center">
                    <div class="aside">
                      {% if cart_item.product.images %}
                      <img src="{{ cart_item.product.images.url }}" class="border img-sm" alt="{{ cart_item.product.product_name }}">
                      {% else %}
                      <img src="{% static 'images/no_image_available.png' %}" class="border img-sm" alt="No image">
                      {% endif %}
                    </div>
                    <figcaption class="info ml-3">
                      <p class="mb-1">{{ cart_item.product.product_name }}</p>
                      <small class="text-muted">Тоо ширхэг: {{ cart_item.quantity }} ширхэг</small><br>
                      <small class="text-muted">Нийт үнэ: {{ cart_item.sub_total }}₮</small>
                    </figcaption>
                  </figure>
                </div>
                {% endfor %}
              {% else %}
                <div class="col-12 text-center">
                  <p>Таны сагс хоосон байна.</p>
                </div>
              {% endif %}
            </div> <!-- row end -->
          </div> <!-- card-body -->
        </article>

        <form method="post" action="{% url 'place_order' %}">
          {% csrf_token %}

          <article class="card mb-4">
            <div class="card-body">
              <h4 class="card-title mb-4">Холбоо барих мэдээлэл</h4>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="first_name">Нэр</label>
                  <input type="text" name="first_name" id="first_name" placeholder="Энд бичнэ үү" class="form-control" required>
                </div>
                <div class="form-group col-sm-6">
                  <label for="last_name">Овог</label>
                  <input type="text" name="last_name" id="last_name" placeholder="Энд бичнэ үү" class="form-control" required>
                </div>
                <div class="form-group col-sm-6">
                  <label for="phone">Утас</label>
                  <input type="text" name="phone" id="phone" value="+998" class="form-control" required>
                </div>
                <div class="form-group col-sm-6">
                  <label for="email">И-мэйл</label>
                  <input type="email" name="email" id="email" placeholder="example@gmail.com" class="form-control" required>
                </div>
              </div>
            </div>
          </article>

          <article class="card mb-4">
            <div class="card-body">
              <h4 class="card-title mb-4">Хүргэлтийн мэдээлэл</h4>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="address_country">Улс*</label>
                  <select id="address_country" name="address_country" class="form-control" required>
                    <option>Энэтхэг</option>
                    <option>АНУ</option>
                    <option>Франц</option>
                    <option>Итали</option>
                  </select>
                </div>
                <div class="form-group col-sm-6">
                  <label for="address_region">Муж / Аймаг*</label>
                  <input type="text" name="address_region" id="address_region" placeholder="Энд бичнэ үү" class="form-control" required>
                </div>
                <div class="form-group col-sm-8">
                  <label for="address_street">Гудамж*</label>
                  <input type="text" name="address_street" id="address_street" placeholder="Энд бичнэ үү" class="form-control" required>
                </div>
                <div class="form-group col-sm-4">
                  <label for="address_building">Барилга</label>
                  <input type="text" name="address_building" id="address_building" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                  <label for="address_apartment">Байр</label>
                  <input type="text" name="address_apartment" id="address_apartment" placeholder="Энд бичнэ үү" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal_code">Шуудангийн код</label>
                  <input type="text" name="postal_code" id="postal_code" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                  <label for="zip_code">Zip код</label>
                  <input type="text" name="zip_code" id="zip_code" class="form-control">
                </div>
              </div>
            </div>
          </article>

          <button type="submit" class="btn btn-primary btn-block mb-5">Захиалга хийх</button>

        </form>
      </main>

      <!-- Sidebar summary -->
      <aside class="col-md-4">
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Нийт үнэ:</dt>
              <dd class="text-right">{{ total }}₮</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Татвар:</dt>
              <dd class="text-right">{{ tax }}₮</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Төлөх дүн:</dt>
              <dd class="text-right text-dark b"><strong>{{ grand }}₮</strong></dd>
            </dl>
            <hr>
            <p class="text-center mb-3">
              <img src="{% static 'images/misc/payments.png' %}" height="26" alt="Payment Methods">
            </p>
          </div>
        </div>
      </aside>

    </div>
    <!-- КОМПОНЕНТ 2 ТӨГСӨВ -->

  </div>
</section>
{% endblock %}
