{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- ========================= АГУУЛГА ХЭСЭГ ========================= -->
<section class="section-content padding-y">

<!-- ============================ БҮРТГҮҮЛЭХ ХЭСЭГ ================================= -->
<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
    <article class="card-body">
        <header class="mb-4"><h4 class="card-title">Бүртгүүлэх</h4></header>
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col form-group">
                    <label>Нэр</label>
                    <input type="text" name="first_name" class="form-control" placeholder="" required>
                </div>
                <div class="col form-group">
                    <label>Овог</label>
                    <input type="text" name="last_name" class="form-control" placeholder="" required>
                </div>
            </div>
            <div class="form-group">
                <label>Цахим шуудан</label>
                <input type="email" name="email" class="form-control" placeholder="" required>
                <small class="form-text text-muted">Цахим шууданг тань хэнтэй ч хуваалцахгүй.</small>
            </div>
            <div class="form-group">
                <label class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="gender" value="male" checked>
                    <span class="custom-control-label"> Эрэгтэй </span>
                </label>
                <label class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="gender" value="female">
                    <span class="custom-control-label"> Эмэгтэй </span>
                </label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Хот</label>
                    <input type="text" name="city" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label>Улс</label>
                    <select name="country" class="form-control">
                        <option>Сонгоно уу...</option>
                        <option>Узбекистан</option>
                        <option>Орос</option>
                        <option selected>АНУ</option>
                        <option>Энэтхэг</option>
                        <option>Афганистан</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Нууц үг үүсгэх</label>
                    <input type="password" name="password1" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Нууц үгээ давт</label>
                    <input type="password" name="password2" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Бүртгүүлэх </button>
            </div>
        </form>
    </article>
</div>

<p class="text-center mt-4">Бүртгэлтэй юу? <a href="{% url 'signin' %}">Нэвтрэх</a></p>
<br><br>
<!-- ============================ БҮРТГҮҮЛЭХ ХЭСЭГ ДУУСАВ ================================= -->

</section>
{% endblock %}
